<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro - BookFlix</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <link th:href="@{/css/auth.css}" rel="stylesheet">
</head>
<body class="d-flex align-items-center justify-content-center vh-100">

<div class="card bg-dark text-white border-secondary" style="width: 400px; padding: 20px;">
    <div class="card-body">
        <h2 class="text-center mb-4" style="color: #E50914; font-weight: bold;">Registro</h2>

        <form th:action="@{/registro}" th:object="${usuario}" method="post">

            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" th:field="*{username}" class="form-control form-control-dark" placeholder="Elige tu alias" required>
                <div class="text-danger small" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" th:field="*{email}" class="form-control form-control-dark" placeholder="hola@ejemplo.com" required>
                <div class="text-danger small" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" th:field="*{password}" class="form-control form-control-dark" placeholder="Mínimo 4 caracteres" required>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-netflix btn-lg">Crear Cuenta</button>
            </div>
        </form>

        <div class="mt-3 text-center">
            <small>¿Ya tienes cuenta? <a href="/login" class="text-white text-decoration-none fw-bold">Inicia Sesión</a></small>
        </div>
    </div>
</div>

</body>
</html>